<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<head>
   <title>BLOG - AntiCorretor</title>
   <!-- Rails scaffolding CSS -->
   <%= stylesheet_link_tag 'scaffold' %>
   <!-- Your custom CSS for blog --> 
   <%= stylesheet_link_tag 'myblog_style' %>  
</head> 
 
<body> 
<div class="container">
     <div class="span-24">
         <h1><font color="blue"><i>AntiCorretor.org</i></font></h1>
          <div style="border-top:#ddd 1px solid;border-bottom:#ddd 1px solid;margin-top:20px;margin-bottom:20px;padding-top:15px;padding-bottom:15px">
         <h2 style="font-size:37px;"> <font color="blue">Bem-vindo ao site AntiCorretor!</font></h2>         
	</div> 
</div> 


<%= yield %>


</body> 
</html