<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<head>
   <title>BLOG - AntiCorretor</title>
   <!-- Rails scaffolding CSS -->
   <%= stylesheet_link_tag 'scaffold' %>
   <!-- Your custom CSS for blog --> 
   <%= stylesheet_link_tag 'myblog_style' %>  
</head> 
 
<body> 

<%= yield %>

<div style="text-align: center;"><small
 style="font-style: italic;">Powered by&nbsp; <img
 style="width: 37px; height: 46px;" alt=""
 src="/images/rails.png">&nbsp; Copyright BonoRocks 2011 v1.0</small></div>
</body> 
</html